<div class="mx-auto" style="width: 200px;">
    <form [formGroup]="UserLoginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="Name" placeholder="Enter the Name" formControlName="Name">
            <div *ngIf="((submitted || f.Name.touched) && f.Name.errors)" class="invalid-input">
                <div *ngIf="f.Name.errors.required">Name is required</div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter the password" formControlName="password">
            <div *ngIf="((submitted || f.password.touched) && f.password.errors)" class="invalid-input">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>