<div class="container my-4">
    <button type="button" (click)="create()" class="btn btn-primary" *ngIf="!CreateEnabled">Create</button>
</div>
<div *ngIf="CreateEnabled" class="my-5 container Formwith">
    <form [formGroup]="CreateUserForm" (ngSubmit)="onCreateUser()">
        <div class="form-group">
            <input type="text" name="first_name" class="form-control" maxlength="10" placeholder="Enter the first_name" formControlName="first_name">
            <div *ngIf="((submitted || c.first_name.touched) && c.first_name.errors)" class="invalid-input">
                <div *ngIf="c.first_name.errors.required">first_name is required</div>
                <div *ngIf="c.first_name.errors.minlength">first_name must be at least 4 characters</div>
            </div>
            <br />
            <input type="text" name="last_name" class="form-control" maxlength="10" placeholder="Enter the last_name" formControlName="last_name">
            <div *ngIf="((submitted || c.last_name.touched) && c.last_name.errors)" class="invalid-input">
                <div *ngIf="c.last_name.errors.required">last_name is required</div>
                <div *ngIf="c.last_name.errors.minlength">last_name must be at least 4 characters</div>
            </div>
            <br />
            <input type="text" placeholder="Enter the Email" class="form-control" formControlName="email">
            <div *ngIf="((submitted || c.email.touched) && c.email.errors)" class="invalid-input">
                <div *ngIf="c.email.errors.required">Email is required</div>
                <div *ngIf="c.email.errors.email">Email must be a valid email address</div>
            </div>
            <br />

            <input type="text" placeholder="Enter the username" class="form-control" maxlength="10" formControlName="username">
            <div *ngIf="((submitted || c.username.touched) && c.username.invalid)" class="invalid-input">
                <div *ngIf="c.username.errors.required">username is required</div>
                <div *ngIf="c.username.errors.minlength">username must be at least 4 characters</div>
            </div>
            <br />

            <input type="text" placeholder="Enter the phone" maxlength="10" class="form-control" formControlName="phone">
            <div *ngIf="((submitted || c.phone.touched) && c.phone.errors)" class="invalid-input">
                <div *ngIf="c.phone.errors.required">Phone is required</div>
                <div *ngIf="c.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
            </div>
            <br />

            <textarea type="text" minlength="10" maxlength="20" class="form-control" placeholder="Enter the address" formControlName="address"></textarea>
            <div *ngIf="((submitted || c.address.touched) && c.address.errors)" class="invalid-input">
                <div *ngIf="c.address.errors.required">address is required</div>
                <div *ngIf="c.address.errors.minlength">address must be at least 10 characters</div>
            </div>
            <br />

            <input type="text" placeholder="Enter the pincode" class="form-control" maxlength="5" formControlName="pincode">
            <div *ngIf="((submitted || c.pincode.touched) && c.pincode.errors)" class="invalid-input">
                <div *ngIf="c.pincode.errors.required">pincode is required</div>
                <div *ngIf="c.pincode.errors.pattern">pincode must be at 5 Numbers</div>
            </div>
            <br />
        </div>
        <input type="submit" value="Send" [disabled]="CreateUserForm.invalid">
    </form>
</div>
<div *ngIf="Enabled" class="my-5 container Formwith">
    <form [formGroup]="UserUpdateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="first_name" maxlength="10" class="form-control" placeholder="Enter the first_name" formControlName="first_name">
            <div *ngIf="((submitted || f.first_name.touched) && f.first_name.errors)" class="invalid-input">
                <div *ngIf="f.first_name.errors.required">first_name is required</div>
                <div *ngIf="f.first_name.errors.minlength">first_name must be at least 4 characters</div>
            </div>
            <br />
            <label>Last Name</label>
            <input type="text" name="last_name" maxlength="10" class="form-control" placeholder="Enter the last_name" formControlName="last_name">
            <div *ngIf="((submitted || f.last_name.touched) && f.last_name.errors)" class="invalid-input">
                <div *ngIf="f.last_name.errors.required">last_name is required</div>
                <div *ngIf="f.last_name.errors.minlength">last_name must be at least 4 characters</div>
            </div>
            <br />
            <label>Email</label>
            <input type="text" placeholder="Enter the Email" class="form-control" formControlName="email">
            <div *ngIf="((submitted || f.email.touched) && f.email.errors)" class="invalid-input">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <br />
        </div>
        <input type="submit" value="Send" [disabled]="UserUpdateForm.invalid">
    </form>

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dt of DataUserList; let i = index">
            <td>{{i+1}}</td>
            <td>{{dt.first_name}}</td>
            <td>{{dt.last_name}}</td>
            <td>{{dt.email}}</td>
            <td>
                <img src={{dt.avatar}} />
            </td>
            <td class="IconFoucs" (click)="delete(dt,i)"><i class="fas fa-trash-alt"></i></td>
            <td class="IconFoucs" (click)="edit(dt,i)"><i class="fas fa-edit"></i></td>
        </tr>

    </tbody>
</table>